<!doctype html>
<html
	xmlns:s="http://typo3.org/ns/VITD/SitePackage/ViewHelpers"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<head>
	<meta charset="utf-8" />

	<title>Partial: Defaults (page templates)</title>
</head>
<body>

<p class="description">
	The sections in this Partial contain defaults for the according sections on different
	page templates.	Assets, meta-tags etc. that are equally present on most pages should go
	here. Each according section in a page template might or might not reference to here.
</p>



<f:section name="meta">
	<v:page.header.meta name="viewport" content="width=device-width, initial-scale=1" />
	<v:page.header.meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
</f:section>



<f:section name="assets">
	<f:render section="styles" />
	<f:render section="headerScripts" />
	<f:render section="footerJsLibs" />
	<f:render section="footerJs"  />
</f:section>



<f:section name="styles">
</f:section>



<f:section name="headerScripts">
	<v:asset.script standalone="true" external="false" movable="false" name="baseurl">
		/**
		 * Current base url (depending on environment)
		 */
		var baseurl = '{s:url.base()}';
	</v:asset.script>
</f:section>



<f:section name="footerJsLibs">
	<f:render section="footerJsLibsFirst" />
	<f:render section="footerJsLibsMain" />
</f:section>



<f:section name="footerJsLibsFirst">
</f:section>



<f:section name="footerJsLibsMain">
</f:section>


<f:section name="footerJs">
</f:section>

</body>
</html>
