<!doctype html>
<html
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<head>
	<meta charset="utf-8"/>

	<title>Partial: Header (page templates)</title>
</head>
<body>


<f:section name="Main">
</f:section>

</body>
</html>
