<f:render section="meta" optional="true" />
<f:render section="assets" optional="true" />
<body class="{f:render(section: 'bodytagClass', optional: 'true')}">
<div id="page">
	<f:render section="header" optional="true" />
	<f:render section="main" />
	<f:render section="footer" optional="true" />
</div>
<f:render section="pagescripts" optional="true" />
<f:comment><!-- Note: closing body tag is always written by TYPO3 core --></f:comment>
