<!doctype html>
<html
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<head>
	<meta charset="utf-8" />

	<title>Standard page template</title>

	<f:layout name="Default" />
</head>
<body>



<f:section name="meta">
	<f:render partial="Defaults" section="meta" arguments="{pagedata: data}" />
</f:section>



<f:section name="assets">
	<f:render partial="Defaults" section="assets" />
</f:section>



<f:section name="header">
	<f:render partial="Navigation" section="Main" arguments="{pagedata: data}" />
</f:section>



<f:section name="main">
	<v:content.render column="0" />
</f:section>



<f:section name="footer">
	<f:render partial="Footer" section="Main" arguments="{pagedata: data}" />
</f:section>


</body>
</html>
